/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/packages
/cache
/public/js/tchoblond59
/public/js/ugowarembourg
/public/css/tchoblond59
/v8-compile-cache-0
laravel-echo-server.lock