.card-container
{
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #d3e0e9;
}
.card-container .card-icon i
{
    padding-top: 10px;
    padding-bottom: 25px;
    width:100%;
    color: white;
    border-radius-topleft: 4px;
    border-radius-topleft: 4px;
}

.card-container .card-green
{
    background-color: #A6C659;
}

.card-container .card-grey
{
    //background-color: #8e8e8e;
}

.card-container .card-blue
{
    background-color: #2a88bd;
}

.card-container .card-power
{
    background-color: #e2dd32;
}

.card-container .card-title a, .card-container .card-title button
{
    margin-top: -25px;
}
.card-figures
{
    margin-top: -10px;
}

.card-figures span
{
    display: block;
}

.card-figures .figures
{
    font-size: 2em;
    font-weight:bold;
}
.card-figures .figures-label
{
    margin-top: -5px;
    font-size: 12px;
}
/**********************/

.yellow-bulb
{
    color: #e8e200;
}

/**********Plugin************/

.plugin-card{
    padding: 10px;
}

.plugin-card h1 span{
    font-size: 0.3em;
}

.demo-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.pricing-table {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.pricing-table .pricing-option {
    width: 28%;
    background: white;
    float: left;
    padding: 2%;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option:nth-child(even) {
    margin: 0 2%;
}
.pricing-table .pricing-option:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
.pricing-table .pricing-option:hover i, .pricing-table .pricing-option:hover h1, .pricing-table .pricing-option:hover span, .pricing-table .pricing-option:hover b {
    color: #F85E6A;
}
.pricing-table .pricing-option:hover .front {
    opacity: 0;
    visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
    opacity: 1 !important;
    visibility: visible !important;
}
.pricing-table .pricing-option:hover .back button.button {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
    border: none;
    border-bottom: 1px solid #F0F0F0;
}
.pricing-table .pricing-option i {
    font-size: 3rem;
    color: #D8D8D8;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option h1 {
    margin: 10px 0;
    color: #212121;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option p {
    color: #999;
    padding: 0 10px;
    line-height: 1.3;
}
.pricing-table .pricing-option .price {
    position: relative;
}
.pricing-table .pricing-option .price .front span.price {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: 700;
    position: relative;
}
.pricing-table .pricing-option .price .front span.price b {
    position: absolute;
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 600;
}
.pricing-table .pricing-option .price .back {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back button.button {
    background: #F85E6A;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 13px;
    top: -5px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    text-transform: uppercase;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border:none;
}
.pricing-table .pricing-option .price .back button.button:hover {
    background: #f62d3d;
}

@media screen and (max-width: 600px) {
    .pricing-table .pricing-option {
        padding: 5%;
        width: 90%;
    }
    .pricing-table .pricing-option:nth-child(even) {
        margin: 30px 0 !important;
    }
